#Python venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env
venv

#PyInstaller
*.manifest
*.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Arquivos do VS Code
.vscode